/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
h4,
p,
p > span {
  font-family: Arial, Helvetica, sans-serif;
}

[href="index.html"] {
  letter-spacing: 0.06em;
}

#about-jumbo, #landing-jumbo {
  background-position: center;
  background-repeat: no-repeat;
}

#landing-jumbo {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(black), to(rgba(0, 0, 0, 0.6))), url("../resources/landing.jpg");
  background-image: -o-linear-gradient(top left, black, rgba(0, 0, 0, 0.6)), url("../resources/landing.jpg");
  background-image: linear-gradient(to bottom right, black, rgba(0, 0, 0, 0.6)), url("../resources/landing.jpg");
  background-repeat: repeat;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#landing-jumbo h1,
#landing-jumbo p {
  font-family: "Dosis", sans-serif;
}
#landing-jumbo p {
  -webkit-animation: fadein 0.7s linear;
  animation: fadein 0.7s linear;
}
#landing-jumbo h4 {
  font-family: "Indie Flower", cursive;
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  -webkit-animation: fadein 0.7s linear 0.7s forwards;
  animation: fadein 0.7s linear 0.7s forwards;
}
#landing-jumbo .btn {
  font-weight: bold;
  color: #dc3545;
  opacity: 0;
  -webkit-animation: fadein 0.6s linear 1.4s forwards;
  animation: fadein 0.6s linear 1.4s forwards;
}
#landing-jumbo .btn:hover {
  color: #FFF;
}
#landing-jumbo p {
  font-size: 1.8em;
}
#landing-jumbo p .myname {
  font-weight: bold;
  letter-spacing: 0.1em;
}
#landing-jumbo p .myname:hover {
  color: steelblue;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background-color: transparent;
}
.card .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.card .card-img,
.card .card-img-top {
  height: 200px;
}

.card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

@media (max-width: 768px) {
  .card .card-img,
.card .card-img-top {
    height: 10em;
  }
}
#about-jumbo {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))), url("../resources/about-background.jpg");
  background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../resources/about-background.jpg");
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../resources/about-background.jpg");
  background-size: cover;
}
#about-jumbo p,
#about-jumbo h1 {
  text-align: center;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#about-jumbo p:hover,
#about-jumbo h1:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

@media (max-width: 768px) {
  #about-jumbo {
    padding: 100px;
  }
  #about-jumbo h1 {
    font-size: 2.2em;
  }
  #about-jumbo p {
    font-size: 1em;
  }
}
@media (min-width: 769px) {
  #about-jumbo {
    padding: 120px;
  }
}
.about-myname {
  font-weight: bold;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
.about-myname:hover {
  color: #004BAA;
}

.secondsec {
  position: relative;
}
.secondsec .loader {
  border: 10px solid #f3f3f3;
  /* Light grey */
  border-top: 10px solid #000;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
  position: absolute;
  left: 45%;
  top: 6%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: spin 5s linear forwards;
  animation: spin 5s linear forwards;
}
.secondsec .row {
  opacity: 0;
  -webkit-animation: fadein 1s linear 4.5s forwards;
  animation: fadein 1s linear 4.5s forwards;
}

.about-footer {
  background-color: #343a40;
  padding: 0.5em;
}
.about-footer .lead {
  font-size: 0.8em;
  font-family: Arial, sans-serif;
  letter-spacing: 0.07em;
}
.about-footer a {
  color: #FFF;
}
.about-footer a:hover {
  color: #5c5cce;
}
.about-footer .fab {
  font-size: 2em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    position: absolute;
    opacity: 0;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  95% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 0;
  }
  100% {
    position: absolute;
    opacity: 0;
  }
}
.container .carousel .alametElSlide {
  background-color: #000;
}
.container .carousel .carousel-control-prev,
.container .carousel .carousel-control-next {
  background-color: #d6d6d6;
  width: 5%;
}

@media (min-width: 769px) {
  .container .carousel {
    max-width: 50%;
    margin: 0 auto;
  }
}
main .card-form {
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
main .card-form:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

@media (max-width: 768px) {
  main .card-form {
    max-width: 90%;
  }
}
@media (min-width: 769px) {
  main .card-form {
    max-width: 75%;
  }
}
@media (min-width: 769px) {
  main #projects-accordion {
    max-width: 70%;
    margin: 20px auto;
  }
  main .table-projects {
    max-width: 66%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  main #projects-accordion {
    margin: 30px auto;
  }
  main .table-projects {
    max-width: 95%;
    margin: 0 auto;
  }
}
ul li {
  font-family: Arial, Helvetica, sans-serif;
}

main .table-projects {
  border: 2px solid #F7F7F7;
  border-top: 2px solid #F7F7F7s;
}

/*# sourceMappingURL=main.css.map */
