@import "./base";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

h1,
h3,
h4,
p,
p>span {
    font-family: Arial, Helvetica, sans-serif;
}

[href="index.html"] {
    letter-spacing: 0.06em;
}


%backgroundimg {
    background-position: center;
    background-repeat: no-repeat;
}

#landing-jumbo {

    height: 100vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.6))), url("../resources/landing.jpg");
    background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("../resources/landing.jpg");
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)), url("../resources/landing.jpg");
    @extend %backgroundimg;
    background-repeat: repeat;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    h1,
    p {
        font-family: 'Dosis',
            sans-serif;
    }

    p {
        -webkit-animation: fadein 0.7s linear;
        animation: fadein 0.7s linear;
    }

    h4 {
        font-family: 'Indie Flower',
            cursive;
        font-size: 2.0em;
        font-weight: bold;
        opacity: 0;
        -webkit-animation: fadein 0.7s linear 0.7s forwards;
        animation: fadein 0.7s linear 0.7s forwards;
    }

    .btn {
        font-weight: bold;
        color: #dc3545;
        opacity: 0;
        -webkit-animation: fadein 0.6s linear 1.4s forwards;
        animation: fadein 0.6s linear 1.4s forwards;

        &:hover {
            color: $white;
        }
    }

    p {
        font-size: 1.8em;

        .myname {
            font-weight: bold;
            letter-spacing: 0.1em;

            &:hover {
                color: steelblue;
                -webkit-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
            }

        }

    }

}


@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



// About.html


.card {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    background-color: transparent;

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        -webkit-transition: -webkit-transform 0.8s;
        transition: -webkit-transform 0.8s;
        -o-transition: transform 0.8s;
        transition: transform 0.8s;
        transition: transform 0.8s, -webkit-transform 0.8s;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

    .card-img,
    .card-img-top {
        height: 200px;
    }

}

.card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    .card {

        .card-img,
        .card-img-top {
            height: 10em
        }
    }
}

#about-jumbo {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.5))),
        url("../resources/about-background.jpg");
    background-image: -o-linear-gradient(top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url("../resources/about-background.jpg");
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
        url("../resources/about-background.jpg");
    @extend %backgroundimg;
    background-size: cover;

    p,
    h1 {
        text-align: center;
        -webkit-transition: all 1.0s;
        -o-transition: all 1.0s;
        transition: all 1.0s;

        &:hover {
            -webkit-transform: scale(1.15);
            -ms-transform: scale(1.15);
            transform: scale(1.15);
            -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }
    }

}


@media (max-width: 768px) {
    #about-jumbo {
        padding: 90px;

        h1 {
            font-size: 2.2em;
        }

        p {
            font-size: 1.0em;
        }
    }
}

@media (min-width: 769px) {
    #about-jumbo {
        padding: 120px;
    }
}


.about-myname {
    font-weight: bold;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;

    &:hover {
        color: #004BAA;
    }
}

// .secondsec {
//     position: relative;

//     .loader {
//         border: 10px solid #f3f3f3;
//         /* Light grey */
//         border-top: 10px solid $black;
//         /* Blue */
//         border-radius: 50%;
//         width: 120px;
//         height: 120px;
//         position: absolute;
//         position: absolute;
//         left: 45%;
//         top: 6%;
//         -webkit-transform: translate(-50%, -50%);
//         -ms-transform: translate(-50%, -50%);
//         transform: translate(-50%, -50%);
//         -webkit-animation: spin 5s linear forwards;
//         animation: spin 5s linear forwards;

//     }

//     .row {
//         opacity: 0;
//         -webkit-animation: fadein 1s linear 4.5s forwards;
//         animation: fadein 1s linear 4.5s forwards;
//     }


// }

.about-footer {
    background-color: #343a40;
    padding: 0.5em;

    .lead {
        font-size: 0.8em;
        font-family: Arial, sans-serif;
        letter-spacing: 0.07em;


    }

    a {
        color: $white;

        &:hover {
            color: rgb(92, 92, 206);
        }
    }

    .fab {
        font-size: 2em;
    }
}




@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    95% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
    }

    100% {
        position: absolute;
        opacity: 0;
    }
}




@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    95% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
    }

    100% {
        position: absolute;
        opacity: 0;
    }
}


.container {
    .carousel {
        .alametElSlide {
            background-color: $black;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background-color: rgb(214, 214, 214);
            width: 5%;
        }
    }
}

@media (min-width: 769px) {

    .container {
        .carousel {
            max-width: 50%;
            margin: 0 auto;
        }

    }
}




// Contact Me Page!

main {
    .card-form {
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;

        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }
    }
}


@media (max-width: 768px) {
    main {
        .card-form {
            max-width: 90%;
        }
    }
}

@media (min-width: 769px) {
    main {
        .card-form {
            max-width: 75%;
        }
    }
}


// PROJECTS PAGE


@media (min-width: 769px) {
    main {
        #projects-accordion {
            max-width: 70%;
            margin: 20px auto;

        }

        .table-projects {
            max-width: 66%;
            margin: 0 auto
        }
    }
}


@media (max-width: 768px) {
    main {
        #projects-accordion {
            margin: 30px auto;

        }

        .table-projects {
            max-width: 95%;
            margin: 0 auto
        }
    }
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
}

main {

    .table-projects {
        border: 2px solid #F7F7F7;
        border-top: 2px solid #F7F7F7s;
    }
}
