@import "./base";
@import "./components";
@import "./layout";
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


#landing-jumbo{

    height: 100vh;
    background-image:linear-gradient(to bottom right, rgba(0,0,0, 1), rgba(0,0,0, 0.6)), url("../resources/landing.jpg");
    background-position: center;
    text-align: center;
    display: flex;
    align-items: center;

    h1, p {
        font-family: 'Dosis',
            sans-serif;
    }

    p {
        animation: fadein 0.7s linear;
    }
    
    h4 {
        font-family: 'Indie Flower',
        cursive;
        font-size: 2.0em;
        font-weight: bold;
        opacity: 0;
        animation: fadein 0.7s linear 0.7s forwards;
    }

    .btn {
        font-weight: bold;
        color: #dc3545;
        opacity: 0;
        animation: fadein 0.6s linear 1.4s forwards;
        &:hover {
            color: #FFF;
        }
    }

    p {
        font-size: 1.8em;

        .myname {
            font-weight: bold;
            letter-spacing: 0.1em;

            &:hover {
                color: steelblue;
                transition: all 1s;
            }

        }

    }

}


@keyframes fadein{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



// About.html


.card {
    perspective: 1000px;
    background-color: transparent;

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .card-img,.card-img-top {
        height: 200px;
    }

}

.card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

@media (max-width: 768px) {
    .card {
        .card-img, .card-img-top {
            height: 10em
        }
    }
}

#about-jumbo {
    background-image:linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("../resources/about-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    p,h1 {
        text-align: center;
        transition: all 1.0s;

        &:hover {
            transform: scale(1.3);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }
    }

}


@media (max-width: 768px) {
    #about-jumbo {
        padding: 100px;
    }
}

@media (min-width: 769px) {
    #about-jumbo {
        padding: 120px;
    }
}


.about-myname {
    font-weight: bold;
    transition: all 0.6s;
    &:hover {
        color: #004BAA;
    }
}

.secondsec {
    position: relative;

    .loader {
        border: 10px solid #f3f3f3;
        /* Light grey */
        border-top: 10px solid #000;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        position: absolute;
        position: absolute;
        left: 45%;
        top: 6%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        animation: spin 5s linear forwards;

    }

    .row {
        opacity: 0;
        animation: fadein 1s linear 4.5s forwards;
    }


}

.about-footer {
    background-color: #343a40;
    padding: 0.5em;

    .lead {
        font-size: 0.8em;
        font-family: Arial, sans-serif;
        letter-spacing: 0.07em;


    }

    a {
        color: #FFF;
    }

    .fab {
        font-size: 2em;
    }
}




@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    95% {
        transform: rotate(360deg);
        opacity: 0;
    }
    
    100%  {
        position: absolute;
        opacity: 0;
    }
}




// Contact Me Page!

main {
    .card-form {
        transition: all 1s;
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
        }
    }
}


@media (max-width: 768px) {
    main {
        .card-form {
            max-width: 90%;
        }
    }
}

@media (min-width: 769px) {
    main {
        .card-form {
            max-width: 75%;
        }
    }
}


// PROJECTS PAGE


@media (min-width: 769px) {
    main {
        #projects-accordion {
            max-width: 70%;
            margin: 85px auto;
            
        }
    }
}


@media (max-width: 768px) {
    main {
        #projects-accordion {
            margin: 81px auto;

        }
    }
}

main {
    ul {
        font-family: Arial, Helvetica, sans-serif;
    }
}

